<!-- <div *ngIf="identity" class="navigation col-lg-3"> -->
<main class="contenidoPrincipal">
    <div *ngIf="identity" class="col-lg-2 navigation">
        <h1 class="contenidoPrincipal__titulo">
            <a [routerLink]="['/']">
                {{title}}
            </a>
        </h1>

        <nav id="navigation">
            <a class="navigation__link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg> Buscar
            </a>
            <a class="navigation__link" [routerLink]="['/artistas', 1]" [routerLinkActive]="['actived']">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                    <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg> Artistas
            </a>
            <a class="navigation__link" [routerLink]="['/albums']" [routerLinkActive]="['actived']">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-music-player-fill" viewBox="0 0 16 16">
                    <path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm1 2h6a1 1 0 0 1 1 1v2.5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm3 12a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg> Albums
            </a>
            <a class="navigation__link" [routerLink]="['/songs']" [routerLinkActive]="['actived']">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16"> -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
                    <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                    <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
                    <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
                </svg> Canciones
            </a>
        </nav>

        <nav id="user_logged">
            <div class="userImage" *ngIf="!user.image">
                <img id="image-logged" src="assets/imgs/avata.png" alt="Imagen de usuario">
            </div>
            <div class="userImage" *ngIf="user.image">
                <img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" alt="Imagen de usuario">
            </div>

            <span class="user_logged__element" id="identity_name">
                {{identity.name}}
            </span>
            <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']" class="user_logged__element">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                  </svg> Mis datos
            </a>
            <a (click)="logout()" class="user_logged__element">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                    <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                    <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                  </svg> Salir
            </a>
        </nav>
    </div>

    <!-- <div *ngIf="identity" class="central col-lg-11"> -->
    <div [class.hidden]="!identity" class="col-lg-9 central offset-lg-2">
        <router-outlet></router-outlet>
        <player class="player" *ngIf="identity"></player>
    </div>
</main>



<section class="padre" *ngIf="!identity">
    <section>
        <h1>Identificate</h1>

        <div *ngIf="errorMessage">
            <div class="alert alert-info">
                <strong>ERROR</strong> {{ errorMessage }}
            </div>
        </div>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <label>Correo electrónico</label>
                <input #email="ngModel" name="email" [(ngModel)]="user.email" type="text" class="form-control" required>
                <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
            </p>
            <p>
                <label>Contraseña</label>
                <input #password="ngModel" name="password" [(ngModel)]="user.password" type="password" class="form-control" required>
            </p>

            <input type="submit" value="Entrar" class="btn btn-primary">
        </form>
    </section>

    <section class="formulariosIniciales">
        <h1>Registrate</h1>

        <div *ngIf="alertRegister">
            <div class="alert alert-info">
                {{ alertRegister }}
            </div>
        </div>

        <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
            <p>
                <label>Nombre</label>
                <input #name="ngModel" name="name" [(ngModel)]="user_register.name" type="text" class="form-control" required>
                <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
            </p>
            <p>
                <label>Apellidos</label>
                <input #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" type="text" class="form-control" required>
                <span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorios</span>
            </p>
            <p>
                <label>Correo electrónico</label>
                <input #emailRegister="ngModel" name="email" [(ngModel)]="user_register.email" type="email" class="form-control" required>
                <span *ngIf="!emailRegister.valid && emailRegister.touched">El email es obligatorio</span>
            </p>
            <p>
                <label>Contraseña</label>
                <input #passwordRegister="ngModel" name="password" [(ngModel)]="user_register.password" type="password" class="form-control" required>
                <span *ngIf="!passwordRegister.valid && passwordRegister.touched">La contraseña es obligatoria</span>
            </p>

            <input type="submit" value="Registrar" class="btn btn-primary">
        </form>
    </section>
</section>