<section class="album-box" *ngIf="album">
    <div id="album-head-card">
        <div class="image">
            <img src="{{ url + 'get-image-album/' + album.image }}" alt="Imagen del album">
        </div>

        <div class="data">
            <h1>{{album.title}}</h1>
            <p>{{album.artist.name}}</p>
            <p>{{album.description}}</p>
            <p>{{album.year}}</p>

            <a [routerLink]="['/crear-tema', album._id]" class="btn btn-info" *ngIf="identity.role == 'ROLE_ADMIN'">
                Añadir canción
            </a>
        </div>
    </div>

    <div id="gallery-songs" *ngIf="songs">
        <ul id="songs-list">
            <li *ngFor="let song of songs" class="song-item">
                <div class="title">
                    <div class="contenido-song">
                        <a (click)="startPlayer(song)" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                                <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                        </a>
                        {{song.number + '. ' + song.name + ' - ' + song.duration}}
                    </div>

                    <div class="buttons-song" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                        <a [routerLink]="['/editar-tema', song._id]" class="btn btn-warning">
                            Editar
                        </a>
                        <a (click)="onDeleteConfirm(song._id)" class="btn btn-danger">
                            Borrar
                        </a>

                        <div class="buttons-eliminar" *ngIf="confirmado == song._id">
                            <a (click)="onDeleteSong(song._id)" class="btn btn-danger">
                                Borrar
                            </a>
                            <a (click)="onCancelSong()" class="btn btn-primary">
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>